# Python
__pycache__/
*.py[cod]
*.pyd
.venv/
venv/
*.egg-info/

# Build / Distribution
build/
dist/
release/
*.spec

# IDE
.vscode/
.idea/

# Betriebssystem
Thumbs.db
desktop.ini
.DS_Store

# Archiv
_Archive/
